
# This file is the top-most editor configuration file
root = true

# Default settings for all files
[*]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

# Turns the maximum line length off for Markdown files, as we use the automatic word wrap of the code editor
[*.md]
max_line_length = off

# C# project files use 2 spaces for indentation
[*.csproj]
indent_size = 2
